.container{
    border: 20px solid black ;
    width: 450px;
    height: 550px;
    margin-left: 380px;
    margin-top: 21px;
    display: flex;
    justify-content: center;
}
.box{
    /* border: 2px solid green; */
    width: 400px;
    height: 500px;
 
    margin-top: 22px;
    background: rgb(80, 2, 2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: blur(1.5px);
    
}

.container .box .yellowbox{
   /* border: 2px solid yellow; */
   height: 25%;
   width: 85%;
   background: rgb(242, 220, 76);
   border-radius: 10px;
    
    
}
.container .box .redbox{
    /* border: 2px solid yellow; */
    height: 30%;
    width: 95%;
    background: rgb(174, 41, 0);
    border-radius: 5px;
     
     
 }
 .container .box .bottombox{
    /* border: 2px solid yellow; */
    height: 30%;
    width: 85%;
    background: rgb(245, 0, 0);
    border-bottom-right-radius: 45px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 10px;
     
     
 }